extends ../layout/Navlayout.pug

block styles
  link(rel="stylesheet", href="/prod-list.css")

block content 
  main
    if prods.length > 0
      .grid
        each product in prods
          article.card.product-item
            header.card-header
              h1.product-tile #{product.prodTitle}
            .card-img 
              img(src=product.prodImageUrl alt=product.prodTitle)
            .card-content
              h2.product-price  $#{product.prodPrice}
              .product-desc #{product.prodDescription}
            .card-btn 
              a(href="/admin/edit-product").btn Edit
              form(action="/admin/delete-product" method="POST")
                button(type="submit").btn Delete
    else 
      h1.noProd No Products